body{
	background-image: url("../image/background.jpg");
	background-size:cover;
	background-attachment: fixed;
}
#loginDiv{
	width: 500px;
	margin: auto;
	margin-top: 10%;
	text-align: center;
	color:white;
	font-family: 'Crimson Text',Georgia, Times, serif;
	font-size: 25px;
	font-weight: bold;
}
div input,div button{
	width: 100%;
}
button span,.form-control::-webkit-input-placeholder { 
	font-family: font-family: 'Crimson Text',Georgia, Times, serif; 
	font-size: 16px;
}
.form-control:-moz-placeholder { font-family: font-family: 'Crimson Text',Georgia, Times, serif; 
	font-size: 16px; }
.form-control::-moz-placeholder { font-family: font-family: 'Crimson Text',Georgia, Times, serif; 
	font-size: 16px; }
.form-control:-ms-input-placeholder { font-family: font-family: 'Crimson Text',Georgia, Times, serif; 
	font-size: 16px; }